h1 {
  margin: 0;
}

button {
  width: 3em;
  height: 3em;
  margin-left: 1em;

  background-color: #ffffff;
  border: 1px solid #838383;
  border-radius: 50%;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  border: 1px solid #d8639e;
}

.button_img {
  width: 2em;
}

.App {
  padding: 1em;
}

.header {
  display: flex;
  margin-bottom: 2em;
}

.note_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.note {
  position: relative;
  display: flex;
  padding: 1em;
  margin-right: 2em;
  margin-bottom: 2em;

  border: 1px solid #838383;
}

.button_delete {
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}

.form {
  position: relative;
  display: inline;
}

.textarea {
  width: 15em;
  max-width: 15em;
  height: 7em;
  padding: 0.5em;
}

.textarea:focus {
  outline: 2px solid #46cfa6;
  outline-offset: -1px;
}

.button_save {
  position: absolute;
  right: -1.5em;
  bottom: -1.25em;
}
